* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.6s all;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}

/* body,
html {
    height: 100%;
} */

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

header {
    background: black url(../picture/Kobe.jpg);
    background-size: cover;
    position: relative;
}

header nav ul {
    float: right;
}

header nav ul>li {
    float: left;
    margin-top: 30px;
    border-radius: 5px;
    border: none;
    margin-right: 5px;
}

header nav ul>li>a:hover {
    background: rgb(254, 197, 3);
    border-radius: 4px;
}

header nav ul a {
    color: #fff;
    padding:12px;
    transition: 0.5s all;
}

header nav>a {
    color: rgb(254, 197, 3);

    margin-left: 30px;
    font-size: 48px;
    font-family: 'Dancing Script', cursive;
}

header .content>h2 {
    color: #fff;
    text-align: right;
    margin: 0 auto;
    font-size: 25px;
    font-family: 'Dancing Script', cursive;
    margin-top:400px;
    padding-bottom: 250px;
    margin-right: 50px;
}

header .content>a {
    color: #fff;
    background: rgb(254, 209, 54);
    float: right;
    position: absolute;
    bottom: 10%;
    right: 20%;
    padding: 20px;
    border-radius: 5px;
    font-size: 24px;
    transition: all 0.5s;
}

header .content>a:hover {
    background: rgb(254, 197, 3);
}
header>span ul{
    background: white;
    position: relative;
    top:5px;
    
    border-radius: 10px;
    font-size: 16px;
}
header>span ul>li{
    border-radius: 5px;
    text-align: center;
}
header>span ul>li:last-child{
    margin-bottom: 0;
}
header>span ul>li:hover{
    background: rgb(254, 209, 54);
}
/* header>span ul::before{
    position: absolute;
    top:-7px;
    left: 15px; 
    width: 10px;
    height: 10px;
    border-left: 1px solid #000;
    border-top: 1px solid #000;
    background: #fff;
    display: inline-block;
    transform: rotateZ(45deg);
    position: absolute;
    content: '';
} */
header>span ul>li>a{
    display: block;
    padding:8px 50px;
}
@media (min-width: 300px){
    header nav ul{
        display: none ;
    }
    header>span{
        float: right;
        margin-right: 10px;
        font-size: 40px;
        position: relative;
    }
    header>span>i{
        transition: 0.3s all;
        color: white;
    }
    header>span:hover i{
        transform:rotate(90deg);
        color: rgb(254, 197, 3);
    }
    header>span ul{
        display: none;
        transition: 0.3s all;
        opacity: 0;
        position: absolute;
        top:45px;
        right: 0px;
    }
    header>span:hover i+ul{   
        display: block;
        opacity: 1;
    }
}
@media (min-width: 1200px){
    header nav ul{
        display: block;
    }
    header span{
        display: none !important;
    }
}
main {
    background: #fff;
}

main>section {
    text-align: center;
    padding-top: 100px;
}

main h2 {
    font-weight: bold;
    margin-bottom: 30px;
    color: rgb(51, 51, 51);
}

main p {
    color: rgb(119, 119, 119);
    font-style: italic;
}

@media (min-width: 300px) {
    main #Introduction>ul {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        margin-bottom: 150px;
    }
    
    

}

@media (min-width: 1200px) {
    main #Introduction>ul {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    }
}

main #Introduction>ul>li {
    font-size: 150px;
    color: rgb(254, 209, 54);
    margin-top: 50px;
}

main #Introduction>ul>li>span {
    font-size: 125px;
}

#Introduction>ul p,
h3 {
    font-size: 15px;
    color: #999;
    width: 200px;
    margin: 0 auto;
    margin-top: 40px;
}

#Introduction>ul h3 {
    color: #000;
}

#Members {
    background: rgb(247, 247, 247);
}


/* #Members>ul>li>span{
    background: rgba(254, 209, 54, .9);
} */

#Members img {
    width: 300px;
    cursor: pointer;
}

#Members>ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-bottom: 100px;
}

#Members>ul>li {
    margin: 0 50px;
    margin-top: 80px;
    background: #fff;
    border-radius: 5px;
}

#Members>ul>li>div {
    position: relative;
    text-align: center;
    cursor: pointer;
}

#Members>ul>li>div::before {
    content: '';
    transition: all 0.7s;
}

#Members>ul>li>div:hover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.7);
}

#Members>ul>li>div:hover i {
    opacity: 1;
}

#Members>ul>li>div i {
    position: absolute;
    left: 45%;
    top: 45%;
    color: gray;
    opacity: 0;
    transition: all 0.7s;
}

#Members>ul>li>p {
    margin: 0 auto;
    margin-top: 30px;
    padding-bottom: 20px;
    width: 100px;
}

#Members>ul>li>h3 {
    color: #000;
}

#timeLine li{
    position: relative;
}

#timeLine li::after{
    display: block;
    content: "";
    clear: both;
}
#timeLine img,h4{
    border: rgba(79, 31, 105, 0.8) 3px solid ;
    width:100px;
    height: 100px;
    border-radius: 50%;
}


#timeLine dd{
    color: gray;
    font-style: italic;
}
#timeLine  h4{
    text-align: center;
   border-radius: 50%;
   border:gray 2px solid;
   background: rgb(254, 209, 54);
   color: white;
   
}
#timeLine li:last-child::before{
    content: "";
    height: 0;
    width:0;
}
@media (min-width: 300px){
    #timeLine li::before{
        content: "";
        background: lightblue;
        position: absolute;
        height: 130px;
        width: 2px;
        left: 50px;
        top:100px;
    }
    #timeLine  h4{
        padding:20px 0;
    }
    /* #timeLine li:nth-child(odd){
        line-height: 40px;
        margin-top: 50px;
        padding-right: calc(50% - 50px);
        text-align: left;
    }
    #timeLine li:nth-child(even){
        padding-left: calc(50% - 50px);
        text-align: left;
        margin-top: 50px;
        line-height: 40px;
    } */
    #timeLine li{
        text-align: left;
        margin-top: 50px;
    }
    #timeLine dl{
        margin-left: 110px;
        height: 180px;
        font-size: 12px;
    }
    
   
    
    #timeLine  li:nth-child(even) img{
        float: left;
    }
    #timeLine  li:nth-child(odd) img,h4{
        float: left;
    }
    
    #timeLine li:nth-child(even) dl,h4{
        /* margin-left: 130px; */
    }
    #timeLine >li:nth-child(even) img{
       float:left;
    }
    
}

@media (min-width: 1200px){
    #timeLine  h4{
        padding:0;
    }
    #timeLine li::before{
        content: "";
        background: lightblue;
        position: absolute;
        height: 70px;
        width: 2px;
        right: 50%;
        left: 50%;
        top:100px;
    }
    #timeLine li:nth-child(odd){
        line-height: 40px;
        margin-top: 50px;
        padding-right: calc(50% - 50px);
        text-align: right;
    }
    #timeLine li:nth-child(even){
        padding-left: calc(50% - 50px);
        text-align: left;
        margin-top: 50px;
        line-height: 40px;
    }
    #timeLine dl{
        margin-right: 130px;
        height: 120px;
        font-size: 20px;
    }
    
   
    
    #timeLine  li:nth-child(even) img{
        float: left;
    }
    #timeLine  li:nth-child(odd) img,h4{
        float: right;
    }
    
    #timeLine li:nth-child(even) dl,h4{
        margin-left: 130px;
    }
    #timeLine >li:nth-child(even) img{
       float:left;
    }
    
    
}
#team{
    background: rgb(247, 247, 247);
}
#team>ul{
    padding-top: 100px;
}
@media (min-width: 300px){
    #team ul{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    #team>ul>li>ul{
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
    #team>ul>li>ul>li{
        margin:0 10px;;
    }
}
@media (min-width: 1200px){
    #team ul{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        flex-direction: row;
    }
    #team>ul>li>ul{
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
    #team>ul>li>ul>li{
        margin:0 auto;
    }
}


#team>ul img{
    border-radius: 50%;
    width: 239px;
    height: 239px;
}
#team>ul h5{
    margin-top: 30px;
    
}
#team>ul p{
    margin-top: 10px;
    margin-bottom: 30px;
}
#team>ul>li>ul{
    margin-bottom: 50px;
}
#team>ul>li>ul>li>a{
    display: block;
    background-color: #222;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    color: #fff;
    outline: 0;
    transition: all .3s;
}

#team>ul>li>ul>li>a:hover{
    background: #fed136;
}

#contact{
    background-color: #222;
}
#contact>form{
    padding-top:100px;
    
}
#contact  a{
    background: rgb(254, 209, 54);
    border-radius: 3px;
    padding:30px;
    color: white;
    display: inline-block;
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: bold;
    transition: all 0.3s;
}
#contact  a:hover{
    background:rgb(254, 197, 3);
}
@media (min-width: 300px){
    #contact>form input,textarea{
        margin:30px auto;
        width: 80%;
        display: block;
        line-height: 30px;
        font-size: 12px;
        border-radius: 5px;
        border: none;
        padding: 10px;
    }
    #contact>form textarea{
        margin-bottom: 30px;
        resize: none;
    }
}
@media (min-width: 1200px){
    #contact>form>div{
        width:90%;
        margin:0 auto;
    }
   #contact>form>div>div{
       display: inline-block;
       height: 100%;
       width: 45%;
       vertical-align: top;    
       margin-bottom: 30px;
   }
   
   #contact>form input{
       margin: 43px auto;;
   }

   #contact>form textarea{
       margin: 0;
       height: 236px;
   }
}

footer{
    padding:20px;
    display: flex;
    justify-content: space-around;
}
footer span{
    line-height: 40px;
}
footer>span:nth-child(1){
    font-weight: lighter;
}
footer>span:nth-child(2)>a{
    display: inline-block;
    background-color: #222;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    color: #fff;
    outline: 0;
    transition: all .3s;
    text-align: center;
    margin-right: 15px;

}
footer>span:nth-child(2)>a:hover{
    background: #fed136;
}
footer>span:nth-child(3)>a{
    color: rgb(254, 197, 3);
    margin-right: 10px;
}